<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadow of Muhammad</title>
    <!-- <link rel="icon" href="/src/image/logo.png"> -->
    <link rel="icon" href="image/logo.png">
    <!-- <link rel="stylesheet" href="/src/css/index.css"> -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="main-header">
            <div class="main-title">
                <img src="image/logo.png" alt="" class="main-img-logo">
                <!-- <img src="/src/image/logo.png" alt="" class="main-img-logo"> -->
                <h1 class="main-h1-title">Shadow of Muhammad</h1>
            </div>
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="list-item">
                        <a class="navbar-link" href="/">Home</a>
                    </li>
                    <li class="list-item list-cascata">
                        <a class="navbar-link list-icon">Conteúdos <i class="fa-solid fa-chevron-down"></i></a>
                        <div class="cascata-conteudo">
                            <a href="/historia">História</a>
                            <a href="/sobre">Sobre</a>
                            <a href="/olimpiadas">Olímpiadas</a>
                        </div>
                    </li>
                    <li class="list-item">
                        <a class="navbar-link" href="/feedback">Feedback</a>
                    </li>
                    <li class="list-item-select">
                        <!-- <i class="fa-solid fa-chevron-down option-i"></i> -->
                        <select onchange="contentLanguage(this.value)">
                            <option value="Português">PT-BR</option>
                            <option value="English">EN</option>
                            <option value="Français">FR</option>
                        </select>
                    </li>
                </ul>
            </nav>

            <nav class="nav-bar-cel">

            </nav>
        </header>

        <main class="main-container main-container-content">

            <div class="section-container">
                <section class="indice">
                    <h1>Índice</h1>
                    <ol>
                        <li><a href="#1">Objetivo do esporte e características do espaço e material</a></li>
                        <li><a href="#2">Curiosidades</a></li>
                        <li><a href="#3">Modalidades e Especificidades no Boxe Olímpico</a></li>
                        <li><a href="#4">Curiosidades</a></li>
                    </ol>
                </section>

                <!-- Objetivo do esporte e características do espaço e material -->
                <section class="teste">
                    <header class="section-header history-content">
                        <h1 class="h1-teste">Objetivo do esporte e características do espaço e material <!-- Título modificado por JavaScript --> </h1>
                    </header>
                    <div class="section-content history-content flex-column">
                        <div class="flex-row history-content">
                            <p class="p-teste"> 
                                No boxe, o objetivo principal é vencer o oponente por meio de um combate regulamentado, utilizando técnicas de socos. Existem duas formas principais de vitória: <br> <br> <!-- Texto modificado por JavaScript --> 
                                <b>Knockout (KO):</b> Quando um lutador derruba o oponente e ele não consegue se levantar antes do término da contagem do árbitro. <br> <br>
                                <b>Decisão dos Juízes:</b> Se o combate vai até o final dos rounds estabelecidos, a vitória é decidida pelos juízes com base na pontuação dos golpes, controle do ringue e estratégia. <br>
                            </p>
                            <img src="image/boxe-ko.png" alt="">
                        </div>     


                        <div class="flex-row history-content">
                            <img src="image/boxe-ringue.png" alt="">
                            <p class="p-teste">
                                    <b>Ringue do Boxe:</b> O espaço onde ocorrem os combates é um ringue quadrado, geralmente com medidas variando entre 4,9 a 7,3 metros de cada lado. O ringue é cercado por cordas para garantir que os lutadores permaneçam dentro da área designada. <!-- Texto modificado por JavaScript -->
                            </p> 
                        </div>

                        <div class="flex-row history-content">
                            <p class="p-teste"> 
                                <b>Materiais:</b> <br>
                                <b>Luvas de Boxe:</b> Usadas para proteger as mãos dos lutadores e minimizar o risco de lesões nos oponentes. As luvas são acolchoadas e o tamanho varia conforme a categoria de peso e as regras específicas da luta. <br> <br>
                                <b>Protetor Bucal:</b> Um dispositivo de proteção para os dentes e a mandíbula, que ajuda a evitar lesões dentárias e fraturas na mandíbula. <br> <br>
                            </p>
                            <img src="image/boxe-equipamentos.png" alt="">
                            <!-- <img src="image/boxe-boxe.png" alt=""> -->
                        </div> 

                         <div class="flex-row history-content">
                            <img src="image/boxe-equipamentos.png" alt="">
                            <p class="p-teste"> 
                                <b>Protetor de Corpo e Coquinho:</b> Para proteção adicional dos órgãos vitais e áreas sensíveis. É comum usar um colete protetor na prática, especialmente em treinos. <br> <br>
                                <b>Calçado:</b> Os boxeadores usam tênis leves e antiderrapantes, projetados para proporcionar boa mobilidade e aderência ao ringue. <br> <br>
                                <b>Saco de Pancadas e Equipamentos de Treino:</b> Durante o treinamento, os boxeadores usam sacos de pancadas, sacos speed (sacos de velocidade), e outros equipamentos para aprimorar a técnica e o condicionamento físico. <br>
                            </p>
 
                        </div> 
                    </div>
                </section>

                <!-- Regras e modalidades -->
                <section class="teste">
                    <header class="section-header history-content">
                        <h1 class="h1-teste">Regras e modalidades <!-- Título modificado por JavaScript --> </h1>
                    </header>
                    <div class="section-content history-content flex-column">
                        <div class="flex-row history-content">
                            <img src="image/image-history1.png" alt=""> 
                            <p class="p-teste">
                                O boxe olímpico, também conhecido como boxe amador, tem regras específicas que garantem a segurança dos competidores e a justiça na competição. Aqui estão as principais regras e modalidades associadas ao boxe olímpico: <br><br>
                                <b>Objetivo:</b> O objetivo é vencer o combate através da pontuação de golpes limpos e eficazes ou, em alguns casos, por knockout (KO). <br><br>
                                <b>Competição Olimpica:</b> Geralmente 3 rounds de 3 minutos cada, com 1 minuto de intervalo entre eles. <br> <br>
                            </p>
                        </div>

                        <div class="section-content flex-row  history-content">
                            
                            <p class="p-teste"> 
                                <b>Pontuação:</b> Baseada em golpes limpos e eficazes. O sistema de pontuação pode variar, mas tradicionalmente os juízes pontuam com base na clareza e no impacto dos golpes. Em competições mais recentes, a contagem é feita com base em um sistema eletrônico ou digital, onde cada golpe válido é registrado por um painel de juízes. <br><br>
                                <b>Faltas e Penalidades:</b> Socos abaixo da cintura, na nuca ou nas costas da cabeça são proibidos. Agressões antidesportivas, como socos após o comando de “pare”, podem resultar em penalidades ou desqualificação. <br><br>
                                <b>Vencedor:</b> O boxeador com mais pontos ao final dos 3 rounds é declarado vencedor. <br> Um boxeador pode vencer por desqualificação se o oponente cometer faltas graves ou repetidas.
                            </p>
                            <img src="image/boxe-logo.png" alt="">
                        </div>
                </section>         

                <!-- Modalidades e especificidades no boxe olimpico -->
                <section class="teste">
                    <header class="section-header">
                        <h1 class="h1-teste">Modalidades e Especificidades no Boxe Olímpico <!-- Título modificado por JavaScript --> </h1>
                    </header>
                    <div class="section-content flex-row  history-content">
                        <img src="image/boxe-logo.png" alt="">
                        <p class="p-teste"> 
                            <b>Categorias de Peso:</b> <br><br>
                            <b>Maculino e Feminino:</b> Existem diferentes categorias de peso, variando de pesos leves a pesados. As categorias podem variar um pouco entre as competições internacionais e regionais. <br><br>
                            <b>Divisões:</b> Categorias de peso são definidas para garantir que os competidores tenham tamanhos similares, minimizando a vantagem do peso.
                        </p>
                    </div>

                    <div class="section-content flex-row  history-content">
                        <p class="p-teste"> 
                            <b>Boxe Feminino:</b> <br><br>
                            <b>Semelhança com Masculino:</b> Segue as mesmas regras gerais do boxe olímpico masculino, com categorias de peso específicas para as mulheres.<br><br>
                            <b>Inclusão Olímpica:</b> O boxe feminino foi incluído nos Jogos Olímpicos em 2012, e desde então segue as mesmas diretrizes e regras do boxe masculino.
                        </p>
                        <img src="image/boxe-logo.png" alt="">
                    </div>

                    <div class="section-content flex-row  history-content">
                        <img src="image/boxe-logo.png" alt="">
                        <p class="p-teste"> 
                            <b>Variações na Regras:</b> <br><br>
                            <b>AIBA:</b> A Federação Internacional de Boxe (AIBA) regula o boxe olímpico e suas regras podem ser ajustadas de tempos em tempos para atualizar o sistema de pontuação ou melhorar a segurança. <br><br>
                        </p>
                    </div>
                </section>

                <section class="teste">
                    <header class="section-header">
                        <h1 class="h1-teste">Curiosidades <!-- Título modificado por JavaScript --> </h1>
                    </header>
                    <div class="section-content flex-row history-content">
                        <p class="p-teste"> <!-- Texto modificado por JavaScript --> </p>
                        <img src="image/boxe-rio.png" alt="">
                    </div>
                </section>

            </div>
        </main>

        <footer class="main-footer">
            <div class="left">
                <div class="footer-logo">
                    <img class="logo" src="/image/logo.png" alt="">
                </div>
            </div>
            <div class="right">
                <header class="footer-title">
                    <h1>SHADOW OF MUHAMMAD</h1>
                </header>

                <div class="text-container">
                    <div class="text1">
                        <h1 class="title-footer">SOBRE O SITE</h1>
                        <p>Nossa escola online ensina as regras e modalidades do boxe olímpico, oferecendo
                            conhecimento e treino para iniciantes e entusiastas.</p>
                    </div>
                    <div class="text2">
                        <h1 class="title-footer">REDES SOCIAIS</h1>

                        <div class="social-container">
                            <a href="" class="social-button">
                                <i class="bi bi-telephone"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-light fa-at"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-youtube"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-solid fa-map"></i>
                                <a>
                        </div>
                    </div>
                    <div class="text3">
                        <h1 class="title-footer">ABAS</h1>
                        <ul>
                            <li><a href="">HOME</a></li>
                            <li><a href="">HISTÓRIA</a></li>
                            <li><a href="">MODALIDADES</a></li>
                            <li><a href="">OLÍMPIADAS</a></li>
                            <li><a href="">FEEDBACK</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="text-copy ">
                <p>Copyright (c) 2024 Shadow Of MuhammadTodos os direitos reservados Este produto é protegido por
                    direitos autorais e distribuído sob licenças que restringem cópia, distribuição e descompilação.</p>
            </div> -->
        </footer>

    </div>
</body>

</html>

<script src="/JavaScript/main.js"></script>
<script src="/JavaScript/language.js"></script>