<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadow of Muhammad</title>
    <!-- <link rel="icon" href="/src/image/logo.png"> -->
    <link rel="icon" href="../public/image/logo.png">
    <!-- <link rel="stylesheet" href="/src/css/index.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="container-all">
        <header class="main-header">
            <div class="main-title">
                <img src="../public/image/logo.png" alt="" class="main-img-logo">
                <h1 class="main-h1-title">Shadow of Muhammad</h1>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <p>Conteúdos</p>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="history.html">História</a></li>
                                    <li><a class="dropdown-item" href="about.html">Sobre</a></li>
                                    <li><a class="dropdown-item" href="olympics.html">Olímpiadas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <div class="form-select-wrapper">
                                    <select class="form-select" onchange="contentLanguage(this.value)">
                                        <option value="Português">PT-BR</option>
                                        <option value="English">EN</option>
                                        <option value="Français">FR</option>
                                    </select>
                                    <i class="fa-solid fa-chevron-down arrow-select"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main-container main-container-content">
            <section>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!-- Item 1 Accordion -->
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                <h3 class="h1-olympics">Jogos Olímpicos de Pequim 2008</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p class="p-olympics">
                                <ol>
                                    <li> <b>Cuba:</b> 9 Medalhas (3 Ouro, 4 Prata, 2 Bronze)</li>
                                    <li> <b>Estados Unidos:</b> 8 medalhas (2 ouro, 2 prata, 4 bronze)</li>
                                    <li> <b>Grã-Bretanha:</b> 4 medalhas (1 ouro, 3 bronze)</li>
                                    <li> <b>Ucrânia:</b> 4 medalhas (1 ouro, 1 prata, 2 bronze)</li>
                                    <li> <b>Turquia:</b> 3 medalhas (1 ouro, 1 prata, 1 bronze)</li>
                                </ol>
                                </p>

                                <!-- -INGLES-
                                        Beijing 2008 Olympic Games
                                        1. Cuba: 9 medals (3 gold, 4 silver, 2 bronze)
                                        2. United States: 8 medals (2 gold, 2 silver, 4 bronze)
                                        3. Great Britain: 4 medals (1 gold, 3 bronze)
                                        4. Ukraine: 4 medals (1 gold, 1 silver, 2 bronze)
                                        5. Turkey: 3 medals (1 gold, 1 silver, 1 bronze) 
                                        
                                        -FRANCES-
                                        Jeux olympiques de Pékin 2008
                                        1. Cuba : 9 médailles (3 d'or, 4 d'argent, 2 de bronze)
                                        2. États-Unis : 8 médailles (2 d'or, 2 d'argent, 4 de bronze)
                                        3. Grande-Bretagne : 4 médailles (1 d'or, 3 de bronze)
                                        4. Ukraine : 4 médailles (1 d'or, 1 d'argent, 2 de bronze)
                                        5. Türkiye : 3 médailles (1 d'or, 1 d'argent, 1 de bronze)
                                        -->

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Item 2 Accordion  -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                <h3 class="h1-olympics">Jogos Olímpicos de Londres 2012</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="p-olympics">
                                <ol>
                                    <li> <b>Cuba:</b> 7 Medalhas (3 Ouro, 3 Prata, 1 Bronze)</li>
                                    <li> <b>Grã-Bretanha:</b> 7 medalhas (3 ouro, 1 prata, 3 bronze)</li>
                                    <li> <b>Estados Unidos:</b> 6 medalhas (2 ouro, 1 prata, 3 bronze)</li>
                                    <li> <b>Uzbequistão:</b> 5 medalhas (2 ouro, 1 prata, 2 bronze)</li>
                                    <li> <b>Azerbaijão:</b> 5 medalhas (2 ouro, 1 prata, 2 bronze)</li>
                                </ol>
                                </p>

                                <!--   
                                -INGLES-
                                London 2012 Olympic Games**
                                1. Cuba: 7 medals (3 gold, 3 silver, 1 bronze)
                                2. Great Britain: 7 medals (3 gold, 1 silver, 3 bronze)
                                3. United States: 6 medals (2 gold, 1 silver, 3 bronze)
                                4. Uzbekistan: 5 medals (2 gold, 1 silver, 2 bronze)
                                5. Azerbaijan: 5 medals (2 gold, 1 silver, 2 bronze)

                                -FRANCES-
                                Jeux Olympiques de Londres 2012
                                1. Cuba : 7 médailles (3 d'or, 3 d'argent, 1 de bronze)
                                2. Grande-Bretagne : 7 médailles (3 d'or, 1 d'argent, 3 de bronze)
                                3. États-Unis : 6 médailles (2 d'or, 1 d'argent, 3 de bronze)
                                4. Ouzbékistan : 5 médailles (2 d'or, 1 d'argent, 2 de bronze)
                                5. Azerbaïdjan : 5 médailles (2 d'or, 1 d'argent, 2 de bronze)
                                
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Item 3 Accordion  -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                <h3 class="h1-olympics">Jogos Olímpicos de Rio 2016</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class=" p-olympics">
                                <ol>
                                    <li> <b>Cuba:</b> 7 medalhas (4 ouro, 2 prata, 1 bronze)</li>
                                    <li> <b>Estados Unidos:</b> 6 medalhas (1 ouro, 3 prata, 2 bronze) </li>
                                    <li> <b>Grã-Bretanha:</b> 6 medalhas (2 ouro, 2 prata, 2 bronze) </li>
                                    <li> <b>Uzbequistão:</b> 4 medalhas (2 ouro, 1 prata, 1 bronze) </li>
                                    <li> <b>China:</b> 4 medalhas (1 ouro, 2 prata, 1 bronze) </li>
                                </ol>
                                </p>
                                <!-- -INGLES-
                            Rio 2016 Olympic Games**
                            1. Cuba: 7 medals (4 gold, 2 silver, 1 bronze)
                            2. United States: 6 medals (1 gold, 3 silver, 2 bronze)
                            3. Great Britain: 6 medals (2 gold, 2 silver, 2 bronze)
                            4. Uzbekistan: 4 medals (2 gold, 1 silver, 1 bronze)
                            5. China: 4 medals (1 gold, 2 silver, 1 bronze)
                            
                            -FRANCES-
                            Jeux Olympiques de Rio 2016**
                            1. Cuba : 7 médailles (4 d'or, 2 d'argent, 1 de bronze)
                            2. États-Unis : 6 médailles (1 d'or, 3 d'argent, 2 de bronze)
                            3. Grande-Bretagne : 6 médailles (2 d'or, 2 d'argent, 2 de bronze)
                            4. Ouzbékistan : 4 médailles (2 d'or, 1 d'argent, 1 de bronze)
                            5. Chine : 4 médailles (1 d'or, 2 d'argent, 1 de bronze)
                            -->

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Item 4 Accordion  -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                <h3 class="h1-olympics">Jogos Olímpicos de Tóquio 2020 (realizados em 2021)</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class=" p-olympics">
                                <ol>
                                    <li> <b>Cuba:</b> 6 medalhas (4 ouro, 2 prata) </li>
                                    <li> <b>Estados Unidos:</b> 6 medalhas (1 ouro, 3 prata, 2 bronze) </li>
                                    <li> <b>Uzbequistão:</b> 5 medalhas (1 ouro, 3 prata, 1 bronze) </li>
                                    <li> <b>Grã-Bretanha:</b> 4 medalhas (1 ouro, 2 prata, 1 bronze) </li>
                                    <li> <b>Filipinas:</b> 2 medalhas (1 ouro, 1 prata) </li>
                                </ol>
                                </p>
                                <!--  
                            -INGLES-
                            Tokyo 2020 Olympic Games (held in 2021)**
                            1. Cuba: 6 medals (4 gold, 2 silver)
                            2. United States: 6 medals (1 gold, 3 silver, 2 bronze)
                            3. Uzbekistan: 5 medals (1 gold, 3 silver, 1 bronze)
                            4. Great Britain: 4 medals (1 gold, 2 silver, 1 bronze)
                            5. Philippines: 2 medals (1 gold, 1 silver)
                            
                            -FRANCES- 
                            Jeux Olympiques de Tokyo 2020 (organisés en 2021)**
                            1. Cuba : 6 médailles (4 d'or, 2 d'argent)
                            2. États-Unis : 6 médailles (1 d'or, 3 d'argent, 2 de bronze)
                            3. Ouzbékistan : 5 médailles (1 d'or, 3 d'argent, 1 de bronze)
                            4. Grande-Bretagne : 4 médailles (1 d'or, 2 d'argent, 1 de bronze)
                            5. Philippines : 2 médailles (1 d'or, 1 d'argent) -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <!--Item 5 Accordion  -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFive">
                                <h3 class="h1-olympics">Jogos Olímpicos de Pequim 2022 (Jogos de Inverno, o boxe não faz
                                    parte dos Jogos de Inverno)</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="p-olympics">
                                    Não há Jogos Olímpicos de Verão em 2022, pois a competição de boxe faz parte dos
                                    Jogos
                                    Olímpicos de Verão, realizados a cada quatro anos. <br>
                                    Esses rankings refletem o desempenho dos países no boxe durante os Jogos Olímpicos
                                    de
                                    Verão de 2008 a 2020. A lista pode variar ligeiramente de acordo com a fonte e a
                                    atualização dos resultados.
                                </p>
                                <!-- INGLES
                             Beijing 2022 Olympic Games (Winter Games, boxing is not part of the Winter Games)**
                            There are no Summer Olympic Games in 2022, as the boxing competition is part of the Summer Olympic Games, which are held every four years.
                            These rankings reflect countries' performance in boxing during the Summer Olympic Games from 2008 to 2020. The list may vary slightly depending on the source and when the results are updated.

                                FRANCES
                            Jeux Olympiques de Pékin 2022 (Jeux d'hiver, la boxe ne fait pas partie des Jeux d'hiver)**
                            Il n'y aura pas de Jeux olympiques d'été en 2022, car la compétition de boxe fait partie des Jeux olympiques d'été, organisés tous les quatre ans.
                            Ces classements reflètent les performances de boxe des pays lors des Jeux olympiques d'été de 2008 à 2020. La liste peut varier légèrement en fonction de la source et de la mise à jour des résultats.-->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="main-footer">
            <div class="left">
                <div class="footer-logo">
                    <img class="logo" src="/image/logo.png" alt="">
                </div>
            </div>
            <div class="right">
                <header class="footer-title">
                    <h1>SHADOW OF MUHAMMAD</h1>
                </header>

                <div class="text-container">
                    <div class="text1">
                        <h1 class="title-footer">SOBRE O SITE</h1>
                        <p>Nossa escola online ensina as regras e modalidades do boxe olímpico, oferecendo
                            conhecimento e treino para iniciantes e entusiastas.</p>
                    </div>
                    <div class="text2">
                        <h1 class="title-footer">REDES SOCIAIS</h1>

                        <div class="social-container">
                            <a href="" class="social-button">
                                <i class="bi bi-telephone"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-light fa-at"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-youtube"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>

                            <a href="" class="social-button">
                                <i class="fa-solid fa-map"></i>
                                <a>
                        </div>
                    </div>
                    <div class="text3">
                        <h1 class="title-footer">ABAS</h1>
                        <ul>
                            <li><a href="">HOME</a></li>
                            <li><a href="">HISTÓRIA</a></li>
                            <li><a href="">MODALIDADES</a></li>
                            <li><a href="">OLÍMPIADAS</a></li>
                            <li><a href="">FEEDBACK</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="text-copy ">
                <p>Copyright (c) 2024 Shadow Of Muhammad Todos os direitos reservados Este produto é protegido por
                    direitos autorais e distribuído sob licenças que restringem cópia, distribuição e descompilação.</p>
            </div> -->
        </footer>

    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/JavaScript/main.js"></script>
<script src="/JavaScript/language.js"></script>