/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variáveis CSS */
:root {
    /* Fonts Palette */
    --font-primary: 'Jura';
    --font-secondary: 'Lato';
    --font-developers: 'Anonymous Pro';

    /* Color Palette */
    --color-primary: #5A0000;
    --color-terciary: #662319;
    --color-quaternay: #FF0000;

    /* Neutral Pallete */
    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --neutral-light-gray: #d3d3d3;
    --neutral-gray: #808080;

    /* Gradients */
    --gradient-h-primary: linear-gradient(90deg, var(--neutral-black) 0%, var(--color-quaternay));
    --gradient-h-secondary: linear-gradient(90deg, var(--color-quaternay) 0%, var(--neutral-black));
    --gradient-h-terciary: linear-gradient(90deg, var(--color-quaternay) 0%, var(--neutral-white));
    --gradient-v-primary: linear-gradient(to bottom, var(--neutral-black), var(--color-quaternay));
    --gradient-v-terciary: linear-gradient(to bottom, #9F0000, var(--neutral-black));
    --gradient-v-quaternary: linear-gradient(to bottom, #662319, var(--neutral-black));
    --gradient-developers: linear-gradient(90deg, #ED522B, 50% #FFE669 0%, #20A758);
}

/* Regras Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: auto;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
}

.container-all {
    display: grid;
    grid-template-areas: "navbar"
        "main"
        "footer";
    gap: 2rem;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

/* Navbar e Header */
/* Header */
.main-header {
    grid-area: navbar;
    width: 100%;
    max-width: 100vw;
    height: auto;
    background-color: #5A0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

/* Título */
.main-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: white;
    text-transform: uppercase;
}

/* Logo */
.main-img-logo {
    width: 100px;
    height: auto;
}

/* Navbar */
.bg-body-tertiary {
    background-color: transparent !important;
}

.navbar {
    background-color: #5A0000 !important;
    color: white;
    width: 100%;
    display: flex;
    font-weight: 500;
}

.navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10rem;
}

.navbar .navbar-nav .nav-link {
    font-family: var(--font-secondary);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Efeito de hover nos links da navbar */
.nav-item .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, red, black);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item .nav-link:hover::after {
    transform: scaleX(1);
}

.form-select::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, red, black);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.form-select.nav-link:hover::after {
    transform: scaleX(1);
}

.dropdown-toggle::after {
    border: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, red, black);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.form-select.nav-link:hover::after {
    transform: scaleX(1);
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

/* Dropdown */
.dropdown-menu {
    background-color: #5A0000;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    font-family: var(--font-secondary);
    padding: 0.5rem;
}

.dropdown-menu .dropdown-item {
    font-family: var(--font-secondary);
    border-radius: 0;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
}

/* Select */
/* Select */
.form-select {
    font-family: var(--font-secondary);
    font-weight: 500;
    --bs-form-select-bg-img: none;
    background-color: transparent;
    border: none;
    color: white;
    height: 100%;
    font-size: 1.5em;
    text-align: left;
    appearance: none;
    position: relative;
    padding: 1rem;
    padding-right: 30px;
    outline: none;
}

/* Ajustes nos options */
.form-select option {
    background-color: #5A0000;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-left: 20px;
    font-weight: 500;
}


.form-select:focus {
    outline: none !important;
    border: transparent !important;
    -webkit-outline: none;
}

.dropdown-item:hover {
    background-color: white;
    color: black;
    text-decoration: underline red;
}

.dropdown-toggle p {
    margin: 0;
    margin-right: 0.5rem;
}

.form-select-wrapper {
    position: relative;
    width: 100%;
}

.arrow-select {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    /* Rotação inicial */
    transition: transform 0.3s ease;
    /* Transição suave */
    color: white;
    font-size: 24px;
    pointer-events: none;
}

.form-select:focus+.arrow-select {
    transform: translateY(-50%) rotate(180deg);
    /* Rotação ao focar */
}

/* Aumentar tamanho do hambúrguer */
.navbar-toggler {
    font-size: 2em;
    /* Aumenta o tamanho do ícone do hambúrguer */
    background-color: transparent;
    /* Para manter a aparência sem fundo */
    border: none;
    /* Remove a borda padrão do botão */
}

.navbar-toggler .fa-bars {
    font-size: inherit;
    /* Herda o tamanho do botão */
    color: white;
    /* Cor do ícone */
}

.navbar-toggle i {
    font-weight: 100;
}

/* Responsividade */
@media (max-width: 988px) {
    .navbar-toggle {
        transition: background-color 1s ease, transform 1s ease;
    }


    .main-title {
        flex-direction: row;
        /* Garante que os itens fiquem em linha */
        justify-content: space-between;
        /* Espaço entre título e botão */
        align-items: center;
        /* Alinha verticalmente */
    }

    .main-title h1 {
        margin: 0;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        /* Alinha os itens da navbar em coluna */
        gap: 0rem;
        /* Espaçamento entre os itens */
    }

    .dropdown-menu .dropdown-item {
        font-size: 1em;
        /* Diminui o tamanho do texto dos itens do dropdown */
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.2em;
        padding-right: 1rem;
    }

    .navbar-toggler {
        margin-left: auto;
        /* Move o botão de hambúrguer para a direita */
    }

    .navbar .navbar-nav {
        gap: 1rem;
    }

    .form-select-wrapper {
        display: flex;
        align-items: flex-start;
        /* Alinha ao topo */
        justify-content: flex-start;
        /* Alinha à esquerda */
        text-align: left;
        /* Alinha o texto à esquerda */
        font-size: 1em;
        /* Diminui o tamanho do texto do select */
        width: 100%;
    }

    .arrow-select {
        left: 12.5%;
        font-size: 20px;
    }

    .arrow {
        font-size: 20px;
    }

    .form-select {
        font-size: 1.2em;
        /* Diminui o tamanho do texto do select */
    }

    .form-select option {
        font-size: 1em;
        /* Diminui o tamanho do texto dos options */
        text-align: left;
    }

    .arrow-select {
        right: 1rem;
        /* Garante que a seta fique no final do espaço */
        left: auto;
        /* Remove qualquer valor left que possa estar afetando a posição */
    }

    .dropdown-toggle {
        justify-content: space-between;
        /* Garante que a seta fique no final do espaço */
    }
}

/* Seções Home */

.main-container {
    display: grid;
    grid-area: 'main';
    grid-template-areas: "main line image";
    grid-template-columns: 1fr auto 1fr;
    padding: 3rem;
    gap: 3rem;
    height: 100%;
}

.line {
    grid-area: line;
    height: 100%;
    border-left: 3px solid transparent;
    /* Define uma borda transparente para criar espaço para o gradiente */
    border-image: var(--gradient-v-primary) 1;
}

.section-container {
    grid-area: 'main';
}

.section-header {
    border-bottom: 3px solid transparent;
    border-image: var(--gradient-h-primary) 1;
}

.section-header h1 {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 100;
}

.section-content p {
    margin: 1rem 0rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    /* font-weight: 100; */
    text-align: justify;
}

.image-contain {
    grid-area: image;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.image-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
    width: 100%;
    height: 100%;
    background-color: var(--neutral-light-gray);
}

.image-olimpic img {
    max-width: 500px;
    max-height: 800px;
    width: auto;
    height: auto;
}

.button-more {
    width: 8rem;
    padding: 0.5rem;
    border: 1px solid var(--neutral-black);
    border-radius: 5rem;
    text-align: center;
}

.button-more a {
    font-weight: 600;
    text-decoration: none;
    color: var(--neutral-black);
}

.button-more {
    transition: all 1s ease-in-out;
    margin: 2rem 0rem 2rem 0;
    text-decoration: underline;
    text-decoration: transparent;
}

.button-more:hover {
    text-decoration: none;
    color: var(--neutral-black);
    text-decoration: underline;
    text-decoration-color: red;
}

.button-more a:visited,
.button-more a:link,
.button-more a:active {
    color: var(--neutral-black);
}

/* Seções História */

.main-container-content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-self: center;
    padding: 0.5rem 3.5rem;
}

.indice {
    padding: 1rem 0rem;
    font-size: 1.5em;
}

.indice h1 {
    font-weight: 400;
}

/* Footer */

.main-footer {
    grid-area: footer;
    width: 100vw;
    height: 100%;
    display: flex;
    background: var(--neutral-black);
    color: var(--neutral-white);
    margin-bottom: 0;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.2rem 1rem 0rem 1rem;
}

.footer-logo {
    margin-top: 1vh;
    width: 100%;
    height: (100% - 0.6rem);
    border-radius: 8rem 8rem 0 0;
}

.logo {
    width: max(8rem, 5rem);
    height: 100%;
    object-fit: contain;
}

.main-footer.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-footer .footer-title h1 {
    font-weight: 100;
    font-size: max(5em, 2.5em);
    margin-top: 1rem;
    border-bottom: 3px solid transparent;
    border-image: var(--gradient-h-terciary) 1;
}

.main-footer .text1 {
    margin: 1rem 0rem;
}

.text-container {
    width: 100%;
    display: flex;
    text-align: justify;
}

.title-footer {
    font-weight: 800;
    align-self: baseline;
}

.title-footer h1 {
    font-size: 6em;
}

.text1,
.text2,
.text3 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    padding: 1rem;
    padding: 0rem 1rem 0rem 1rem;
}

.text1 {
    width: 50%;
}

.text2 {
    width: 50%;
    padding: 1rem;
    gap: 1rem;
}

.text3 {
    width: 100%;
    padding: 1rem;
}

.text3 ul {
    list-style: none;
}

.text3 li {
    margin-top: 0.5rem;
}

.text3 a {
    color: var(--neutral-white);
    text-decoration: underline;
    transition: all 0.5s ease;
    text-decoration: transparent;
}

.list-pages li:hover a {
    color: var(--neutral-white);
    text-decoration: underline;
    text-decoration-color: var(--color-quaternay);
}

.social-container {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    width: 60%;
}

.social-button {
    background: var(--gradient-v-terciary);
    width: 2.5rem;
    height: 2.5rem;
    /* padding: 1rem 1rem 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    gap: 10rem;
    color: var(--neutral-white);
    text-decoration: none;
}

.social-button i {
    color: var(--neutral-white);
}

.social-button li>a:hover {

    .social-button i {
        color: red;
    }

}

.text-copy {
    color: red;
}

.text-copy p {
    color: var(--neutral-white);
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.flex-position {
    display: flex;
}

.flex-position2 {
    display: flex;
    flex-direction: column;
}

.history-content img {
    align-self: center;
    padding: 1rem;
    max-width: 40%;
    height: 40%;
}

.text-container {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-areas: "main"
            "line"
            "image";
        width: 100%;
        max-width: 100vw;
        gap: 0;
        grid-template-columns: 100%;
        padding: 2.5rem 1rem;
    }

    .main-header {
        padding: 3em;
        width: 100%;
        max-width: 100vw;
        flex-wrap: wrap;
    }

    .main-img-logo {
        width: 100%;
        max-width: 20vw;
    }

    .main-title {
        text-align: center;
        gap: 2rem;
        width: 100%;
    }

    .flex-position {
        display: flex;
        flex-direction: column;
    }

    .main-container-content {
        width: 100%;
        padding: 1rem;
    }

    .history-content img {
        align-self: center;
        padding: 1rem;
        max-width: 100%;
        height: 40%;
    }

    .main-footer {
        width: 100%;
        max-width: 100vw;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main-footer .footer-title h1 {
        text-align: center;
        font-size: 2.5em;
        width: 100%;
        max-width: 100vw;
    }

    .main-footer.left {
        width: 100%;
        max-width: 100vw;
        align-self: center;
        height: auto;
    }

    .main-footer.right {
        padding: 1rem;
    }

    .text-container {
        flex-direction: column;
    }

    .text1,
    .text1 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
    }

    .text2,
    .text2 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
    }

    .text3,
    .text3 h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 100vw;
    }

    .text-copy {
        width: 100%;
        max-width: 100vw;
    }

    .social-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 50vw;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
    }

    .image-contain {
        width: 100%;
        max-width: 100vw;
        padding: 1rem;
    }

    .line {
        width: 100%;
        max-width: 100vw;
        height: 100%;
        max-height: 5px;
        display: none;
    }

    .image-olimpic {
        width: 100%;
        max-width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.navbar-toggle {
    margin-left: 10rem;
}

.list-pages {
    padding: 0;
}

.arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg); /* Posição inicial */
}

.dropdown [aria-expanded="true"] .arrow{
    transform: rotate(180deg); /* Posição quando o dropdown está aberto */
}

.image-olimpic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}