/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* Variáveis CSS */
:root {
    /* Fonts Palette */
    --font-primary: 'Jura';
    --font-secondary: '';

    /* Color Palette */
    --color-primary: #5A0000;
    --color-terciary: #662319;

    /* Neutral Pallete */
    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --neutral-light-gray: #d3d3d3;
    --neutral-gray: #808080;

    /* Gradients */
    --gradient-primary: linear-gradient(90deg, var(--color-primary) 0%, var(--neutral-black));
    --gradient-primary: linear-gradient(90deg, var(var(--color-primary)) 0%, var(--neutral-black));
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

body{
    background: var(--neutral-white);
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.main-header {
    grid-area: header;
    width: 100vw;
    height: 20vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-primary);
}

.main-title {
    display: flex;
    padding: 0.5;
    height: 10vh;
    font-size: 4vw;
    gap: 1rem;
    margin-top: 1rem;
}

.main-h1-title {
    font-family: var(--font-primary);
    color: white;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
}

.main-img-logo {
    width: 5vw;
    height: 10vh;
    padding: 0.5rem;
    display: flex;
    aspect-ratio: 1/1;
}

.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: var(--neutral-white);
}

.navbar-list{
    width: 100%rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5rem;    
}

.navbar li{
    list-style: none;
    font-size: 1.5rem;
    justify-content: start;
    align-items: start;
}

.navbar-link{
    border: 1px transparent solid;
    padding: .5rem 1rem .5rem 1rem;
    text-decoration: none;
}

.navbar-link:visited, .navbar-link:active, .navbar-link:link{
    color: var(--neutral-white);
}

.navbar-link:hover{
    border: 1px var(--neutral-black) solid;
}

.list-icon {
    display: flex;
    gap: 1rem;
    color: var(--neutral-white);
}

.list-cascata{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--color-primary);
}

.cascata-conteudo {
    display: none; 
    flex-direction: column;
    position: absolute; 
    margin-top: 2rem;
    padding: 1rem;
}

.list-cascata:hover{
    height: 14.5rem;
    background-color: var(--color-primary);
    cursor:pointer;
    border: 1px var(--neutral-black) solid;

    .navbar-link:hover{
        border: 1px var(--neutral-black) transparent;
    }
    .cascata-conteudo{
        display: flex; 
    }
    .list-icon i{
        transform: rotate(180deg);
        transition: transform 0.5s ease-in-out;
    }
}

.list-icon i{
    transition: transform 0.5s ease-in-out;
}

.cascata-conteudo:hover > .cascata-conteudo a{
    border: 1px var(--neutral-black) solid;
}

.cascata-conteudo a{
    color: var(--neutral-white);
    text-decoration: none;
    padding: 0.8rem;
}

.cascata-conteudo a:hover {
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    text-decoration: underline;
    text-decoration-color: red;
}