/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* Variáveis CSS */
:root {
    /* Fonts Palette */
    --font-primary: 'Jura';
    --font-secondary: '';

    /* Color Palette */
    --color-primary: #5A0000;
    --color-terciary: #662319;

    /* Neutral Pallete */
    --neutral-white: white;
    --neutral-black: black;
    --neutral-light-gray: lightgray;
    --neutral-gray: gray;

    /* Gradients */
    --gradient-primary: linear-gradient(90deg, var(--color-primary) 0%, var(--neutral-black));
    --gradient-primary: linear-gradient(90deg, var(var(--color-primary)) 0%, var(--neutral-black));
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

body{
    background: var(--neutral-black);
}

.main-header {
    width: 100vw;
    height: 20vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-primary);
}

.main-title {
    display: flex;
    padding: 0.5;
    height: 10vh;
    font-size: 4vw;
    gap: 1rem;
    margin-top: 1rem;
}

.main-h1-title {
    font-family: var(--font-primary);
    color: white;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
}

.main-img-logo {
    width: 5vw;
    height: 10vh;
    padding: 0.5rem;
    display: flex;
    aspect-ratio: 1/1;
}

.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: var(--neutral-white);
}

.navbar-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;    
}

.navbar li{
    list-style: none;
    font-size: 1.5rem;
    justify-content: start;
    align-items: start;
}

.navbar-link{
    border: 1px transparent solid;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: all 1s;
}

.navbar-link:visited{
    color: var(--neutral-white);
}

.navbar-link:hover{
    border: 1px var(--neutral-white) solid;
}

.list-icon {
    display: flex;
    gap: 1rem;
    color: var(--neutral-white);
}

.list-cascata{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--color-primary);
    flex-direction: column;
}

/* .cascata-conteudo li{
    display: none;
}*/
